.navbar {
    background-color: #212731;
    display:flex;
    justify-content: center;
    align-items: center;
    height:64px;
    padding:0px 10px 0px 10px;
}

.navbar__search{
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4px;
    border-radius:8px;
    width:260px;
}

.navbar__input{
    outline: none;
    border: none;
    height:30px;
    flex:1;
    font-size: 16px;
    padding-left:10px;
}

.navbar__list{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap:30px;
    color:#D1D6DA;
    font-size: 14px;
}

li{
    cursor: pointer;
}


@media screen and (max-width: 640px) {
    .navbar{
        height:120px;
        flex-direction: column;
    }
    .navbar__search{
        width:90%;
    }
    .navbar__list{
        margin-left:-40px;
    }
  }